
html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color:#333;  
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    background-color:#333;
}

#header-title {
    font-size: 2em;
    color: white;
    background-color: black;
    padding: 5px;
    margin: 10px;
}

#search-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 300px;
    max-width: 300px;
}

#searchbutton {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    border: black solid 2px;
    min-height: 41px;
    margin-top: 25px;
}

#searchbutton:hover, #searchbutton:focus{
    color: black;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: solid 1px #dcdcdc;
}

#urllist {
    color: #969696;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

input[type="text"] {
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    border: solid 1px #dcdcdc;
    border-radius: 4px;
    min-height: 20px;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

#responsesize {
    min-height: 50px;
    max-height: 50px;
}

#urllist {
    max-width: 600px;
    min-width: 600px
}

ul li {
    overflow-wrap: break-word;
    margin-bottom: 2px;
}

ul li:hover {
    list-style-type: ">  ";
}


a {
    text-decoration: none;
}

